// center our stuff
.container {
    max-width: 60rem; // 60 px
    margin: 0 auto;  //left and right is auto
    padding: 0 3.2rem; // padding in the left and right, so that the words won't get touched to the screen!
}